!.env.example
!.gitignore
!.bowerrc

.env
node_modules
phpunit.xml
vendor
.idea/
config/administrator*
public/packages/hifone/dashboard
public/js/app.js
app/administrator/
composer.phar
public/packages/
